body {
    font-family: inherit;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-size: x-large;
}
h1 {
    margin: 100px;
    text-align: center;
}
.catalogue {
    text-align: left;
    margin: 0 auto;
    display: table;
    justify-content: center;
    align-items: center;
}
li {
    margin: 30px;
}
a {
    color: white;
}
#footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 20px;
}