body {
    font-family: Kaiti, sans-serif;
    background-image: url("../image/background.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
h1 {
    text-align: center;
}
#nav {
    text-align: center;
    margin: 0 auto;
    height: 30px;
    width: 100%;
}
.catalogue {
    text-align: left;
    margin: 0 auto;
    display: table;
    justify-content: center;
    align-items: center;
}
a {
    color: white;
}