ul {
    list-style-type: none;
    text-align: center;
    margin: auto 8%;
}
li {
    display: inline;
    margin: 30px;
}
a {
    font-family: inherit;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
body {
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
html body{
    height: 100%;
    width: 100%;
}
iframe {
    width: 60%;
    height: 500px;
    display: block;
    background-color: black;
    margin: 0 18%;
    opacity: 0.7;

}
.nav2 {
    height: 15%;
    margin-left: -8%;
    margin-bottom: 3%;
    margin-top: 2%;
}