body {
    font-family: Kaiti, sans-serif;
    text-align: justify;
    background-image: url("../image/background.jpg");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin: 0 30px;
    width: 100px;
}
a {
    color: white;
    opacity: 0.7;
}
#nav {
    margin: 0 auto;
    height: 30px;
    width: 100%;
}
#header {
    margin: 0 auto;
    color: white;
    font-size: x-large;
    padding:30px;
    height: 100px;
    opacity: 0.7;
}
#section {
    margin: 0 auto;
    color: white;
    padding: 30px;
    font-size: 30px;
    opacity: 0.7;
}
#footer {
    margin: 0 auto;
    font-style: italic;
    padding: 20px;
    color: white;
    opacity: 0.7;
}
p, h1, ul {
    display: flex;
    justify-content: center;
    align-items: center;
}