body {
    font-family: inherit;
}
ul {
    list-style-type: none;
    margin: auto 24%;
}
li {
    display: inline;
    margin: 0 30px;
    width: 100px;
}
a {
    color: white;
    text-decoration: none;
}
section {
    margin: 0 auto;
    color: white;
    padding: 30px;
}
p {
    color: white;
    text-align: center;
}